/* Dark mode colors */
@media (prefers-color-scheme: dark) {
    :root {
        --main-color: #9db1ff;
        --background-color: #181d44;
        --on-main-bg-color: #181d44dd; 
        --text-color: #182142;
        --platform-selected-bg: #181d44ca;
        --main-color-filter: invert(74%) sepia(95%) saturate(1952%) hue-rotate(192deg) brightness(101%) contrast(100%);
        --text-color-filter: brightness(0) saturate(100%) invert(87%) sepia(25%) saturate(7141%) hue-rotate(192deg) brightness(100%) contrast(103%);
        --btn-bg-color: #dee6ffbf;
        --btn-border-color: #181d447a;
        --btn-selected-border-color: #181d44;
        --input-bg-color: #bac5eabf;
        --code-container-bg: #dee6ff4f;
    }

    body {
        background-color: var(--background-color);
    }

    img.theme-button-desktop, img.theme-icon-mobile {
        filter: var(--main-color-filter);
    }


    footer {
        color: var(--main-color);
    }
    
    footer a, footer a:visited, footer a:active {
        color: var(--main-color);
    }

    div.card,
    div.slim-card {
        color: var(--text-color);
        background-color: var(--main-color);
    }

    div.release-card {
        color: var(--main-color);
        background-color: var(--on-main-bg-color);
    }

    div.release-card img {
        filter: var(--text-color-filter);
    }

    header,
    header a:visited {
        color: var(--main-color);
    }

    div.card-content,
    div.card-content a {
        color: var(--text-color);
    }

    div.card h1,
    div.slim-card h1 {
        background-color: var(--text-color);
        color: var(--main-color);
    }

    div.card-content-grid p,
    div.card-content-grid a {
        color: var(--text-color);
    }

    div.article-preview,
    div.tool-preview {
        background-color: var(--text-color);
        border-color: var(--text-color);
        color: var(--main-color);
    }

    div.tool-button-preview {
        background-color: var(--main-color);
    }

    div.article-preview h1 {
        color: var(--main-color);
        background-color: var(--text-color);
    }

    div.message-option,
    div.style-option,
    div.copy-button {
        background-color: var(--btn-bg-color);
        border-color: var(--btn-border-color);
    }

    div.button-generator-options,
    div.button-generator-preview {
        background-color: var(--main-color);
    }

    div.button-link-container input {
        background-color: var(--btn-bg-color);
        border-color: var(--btn-border-color);
    }

    div.button-message-options input {
        background-color: var(--input-bg-color);
        border-color: var(--btn-border-color);
    }

    .custom-message {
        grid-column: 1/3;
    }

    .message-selected,
    .color-selected,
    .size-selected {
        border-color: var(--btn-selected-border-color) !important;
    }

    div.button-link-container input:focus-visible,
    div.button-message-options input:focus-visible {
        outline: 3px solid var(--btn-selected-border-color);
        transition: 0.05s;
    }

    div.button-code-container {
        background-color: var(--code-container-bg);
    }    

    /* Targeting devices with mouse cursor and :hover */
    @media(hover: hover) and (pointer: fine) {
        div.article-preview:hover,
        div.article-preview:hover h1 {
            transition: 0.1s;
            background-color: var(--main-color);
            color: var(--text-color);
            border-color: var(--text-color);
        }

        div.message-option:hover,
        div.style-option:hover,
        div.size-option:hover {
            box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.075) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
        }

        div.copy-button:hover {
            box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 1px -1px, rgba(0, 0, 0, 0.075) 0px 1px 1px 0px, rgba(0, 0, 0, 0.05) 0px 1px 3px 0px;
        }
    }


    input[type=button].platform-selected {
        color: var(--main-color);
        border-color: var(--text-color);
        background-color: var(--platform-selected-bg);
    }

    input[type=button].platform-unselected {
        color: var(--text-color);
        background-color: var(--main-color);
        border-color: var(--text-color);
    }
    input[type=button].no-fill {
        color: var(--main-color);
        background-color: var(--background-color);
        border-color: var(--main-color);
    }

    a.noshow,
    a.noshow:hover {
        color: inherit;
    }

    a,
    a:active {
        color: inherit;
    }
}