/* Light mode colors */
@media (prefers-color-scheme: light) {
    :root {
        --main-color: white;
        --background-color: #4166f5;
        --on-main-bg-color: #4165f5e8;
        --text-color: #4166f5;
        --platform-selected-bg: #4165f5e6;
        --main-color-filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
        --text-color-filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(199deg) brightness(109%) contrast(104%);
    }

    body {
        background-color: var(--background-color);
    }

    img.theme-button-desktop, img.theme-icon-mobile {
        filter: var(--main-color-filter);
    }

    footer {
        color: var(--main-color);
    }

    footer a, footer a:visited, footer a:active {
        color: var(--main-color);
    }

    header,
    header a:visited {
        color: var(--main-color);
    }

    div.card-content,
    div.card-content a {
        color: var(--text-color);
    }

    /* Divs */
    header {
        color: var(--main-color);
    }

    div.card,
    div.slim-card,
    div.release-card {
        color: var(--text-color);
        background-color: var(--main-color);
    }

    div.release-card {
        color: var(--main-color);
        background-color: var(--on-main-bg-color);
    }

    div.release-card img {
        filter: var(--text-color-filter)
    }

    div.card h1,
    div.slim-card h1 {
        background-color: var(--text-color);
        color: var(--main-color);
    }

    div.card-content {
        color: var(--text-color);
    }

    div.card-content-grid p,
    div.card-content-grid a {
        color: var(--text-color);
    }

    div.article-preview {
        border: 3px solid transparent;
        background-color: var(--text-color);
        color: var(--main-color);
    }

    div.article-preview h1 {
        background-color: var(--text-color);
        color: var(--main-color);
    }

    /* Targeting devices with mouse cursor and :hover */
    @media(hover: hover) and (pointer: fine) {
        div.article-preview:hover {
            color: var(--text-color);
            background-color: var(--main-color);
            border: 3px solid var(--text-color);;
        }

        div.article-preview:hover h1 {
            background-color: var(--main-color);
            color: var(--text-color);
        }
    }

    input[type=button].platform-selected {
        color: var(--main-color);
        border-color: var(--text-color);
        background-color: var(--platform-selected-bg);
    }

    input[type=button].platform-unselected {
        color: var(--text-color);
        background-color: var(--main-color);
        border-color: var(--text-color);
    }
    
    input[type=button].no-fill {
        color: var(--main-color);
        background-color: var(--text-color);
        border: 2px solid var(--main-color);
    }

    a.noshow,
    a.noshow:hover {
        color: inherit;
    }

    a,
    a:active {
        color: inherit;
    }
}