:root {
    font-family: league-spartan;
    --light-main-color: #4166f5;
    --dark-main-color: #9db1ff;
    --dark-background-color: #181d44;
    --dark-text-color: #182142;
}

@font-face {
    font-family: "league-spartan";
    src: url(../assets/fonts/LeagueSpartan-SemiBold.ttf);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.spacer {
    flex: 1;
}

footer {
    color: var(--light-main-color);
    height: fit-content;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

footer a, footer p {
    display: inline-block;
}

/* Normal color scheme */
body.normal {
    background-color: white;
}

body.normal div.card {
    background-color: var(--light-main-color);
}

body.normal header,
body.normal header a:visited {
    color: var(--light-main-color);
}

body.normal div.card-content,
body.normal div.card-content a {
    color: white;
}

/* Inverted color scheme */
body.inverted,
body.inverted div.card h1, body.inverted div.slim-card h1 {
    background-color: var(--light-main-color);
    color: white;
}

body.inverted header a, body.inverted footer a {
    color: white;
}

body.inverted div.card-content {
    color: var(--light-main-color);
}

body.inverted div.card,
body.inverted div.card-content a, body.inverted div.slim-card {
    color: var(--light-main-color);
    background-color: white;
}

/* Divs */
header {
    color: var(--light-main-color);
    margin: 2em 0 3em 3em;
    font-weight: bold;
}

header h1 {
    font-size: 44px;
    margin: 0;
}

header a {
    text-decoration: none;
    margin: 0;
}

div.site-navigation {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 38vw;
    font-size: 30px;
}

div.site-navigation p,
div.site-navigation a {
    margin-top: 0;
    margin-right: 1em;
}

div.site-navigation a.selected-page {
    text-decoration: underline 2px;
}

div.card, div.slim-card {
    color: white;
    background-color: var(--light-main-color);
    border-radius: 24px;
    padding: 1em 2em 2em 2em;
}

div.slim-card {
    display: inline-block;
    border-radius: 36px;
    padding: 0em 1em 0em 2em;
}

div.slim-card a {
    margin-left: 1em;
}

div.slim-card h1, div.slim-card div.card-content {
    display: inline-block;
}

div.card h1, div.slim-card h1 {
    background-color: white;
    color: var(--light-main-color);
    width: fit-content;
    border-radius: 24px;
    padding: 0.25em 0.5em 0.15em 0.5em;
}

div.card-container, div.two-card-container, div.release-card-container {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 3em 1em 3em;
}

div.two-card-container {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1em;
}

div.release-card-container {
    grid-template-columns: auto;
    row-gap: 1em;
}

div.card-content {
    margin-left: 0.5em;
    color: white;
    font-size: 34px;
}

body.inverted div.card-content p,
body.inverted div.card-content a,
body.inverted div.card-content li {
    font-size: 30px;
}

div.card-content p,
ul {
    margin: 0;
    line-height: 125%;
}

div.card-content-grid {
    display: grid;
    grid-template-columns: min-content min-content min-content;
    margin-left: 0.5em;
    column-gap: 1em;
    font-size: 34px;
}

div.card-content-grid p,
div.card-content-grid a {
    justify-self: left;
    color: white;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
    margin: 0;
    font-weight: bold;
}

div.news-card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1em;
    row-gap: 1em;
    font-size: 34px;
}

div.article-preview {
    font-size: 14px;
    border: 3px solid transparent;
    background-color: white;
    color: var(--light-main-color);
    border-radius: 20px;
    padding: 2em;
    min-height: 125px;
}

div.article-preview h1 {
    background-color: white;
    color: var(--light-main-color);
    padding: 0;
    margin: 0;
    font-size: 2.5vw;
}

div.article-preview:hover {
    color: white;
    background-color: var(--light-main-color);
    border: 3px solid white;
}

div.article-preview:hover h1 {
    background-color: var(--light-main-color);
    color: white;
}

div.article-header h1,
div.article-header p {
    display: inline-block;
}

div.article-header p {
    font-size: 2.5vw;
    margin-left: 0.5em;
}

div.platform-selector {
    display: grid;
    width: 30%;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1em;
    margin: 0 3em 1em 3em;
}

div.platform-selector a {
    overflow: hidden;
    width: auto;
    display: inline-block;
}

div.screenshot-album {
    display: grid;
    grid-template-columns: min-content min-content min-content min-content;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

div.screenshot-album img {
    width: 10vw;
}

div.screenshot-album a {
    animation-name: shrinkimage;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

div.screenshot-album a:hover {
    animation-name: enlargeimage;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    align-self: center;
}

@keyframes enlargeimage {
    0% {
        transform: scale(100%);
        box-shadow: 0px 0px 0px 1500px rgba(255, 255, 255, 0);
        z-index: 999;
        margin-bottom: inherit;
    }

    100% {
        transform: scale(250%);
        box-shadow: 0px 0px 0px 1500px rgba(255, 255, 255, 0.9);
        z-index: 999;
        bottom: 100px;
        margin-bottom: 4em;
    }
}

@keyframes shrinkimage {
    0% {
        transform: scale(130%);
        box-shadow: 0px 0px 0px 1500px rgba(255, 255, 255, 0.9);
    }

    100% {
        transform: scale(100%);
        box-shadow: 0px 0px 0px 1500px rgba(255, 255, 255, 0);
    }
}

/* Buttons */
input[type=button] {
    border-radius: 24px;
    padding: 0.25em 0.25em 0.25em 0.25em;
    font-family: league-spartan;
    font-size: 1.5rem;
    cursor: pointer;
    width: 100%
}

input[type=button].platform-selected,
input[type=button].platform-unselected {
    border-radius: 24px;
    padding: 0.25em 0em 0.25em 0em;
    font-family: league-spartan;
    font-size: 1.5rem;
    cursor: pointer;
    width: 100%
}

input[type=button].platform-selected {
    color: white;
    background-color: var(--light-main-color);
    border: 2px solid transparent;
}

input[type=button].platform-unselected,
input[type=button].no-fill {
    color: var(--light-main-color);
    background-color: white;
    border: 2px solid var(--light-main-color);
}

/* Text */
a:hover {
    opacity: 75%;
}

a.noshow,
a.noshow:hover {
    text-decoration: none;
    color: inherit;
    opacity: 100%;
}

a,
a:active {
    color: inherit;
}

/* Mobile layout */
@media (max-width: 500px) {

    /* Site header */
    header {
        margin: 2em 0 2em 1em;
    }

    header h1 {
        font-size: 10vw;
    }

    div.site-navigation {
        width: 80vw;
        font-size: 5.5vw;
        margin-top: 1em;
    }

    /* Card conainters */
    div.card-container, div.two-card-container, div.release-card-container {
        margin-left: auto;
        margin-right: auto;
        justify-items: center;
    }

    div.two-card-container {
        grid-template-columns: 1fr;
        row-gap: 1em;
    }

    div.release-card-container {
        grid-template-columns: auto;
        row-gap: 1em;
    }

    div.article-header p {
        font-size: 5.5vw;
        margin-left: 0.5em;
        margin-top: 0;
    }
    div.screenshot-album img {
        width: 30vw;
    }

    /* Cards */
    div.card, div.slim-card {
        width: 90%;
        padding: 1em 1em 2em 1em;
    }

    div.slim-card h1, div.slim-card div.card-content {
        display: block;
    }

    div.slim-card a {
        margin-left: 0;
        margin-right: 1em;
    }

    div.card-content-grid {
        grid-template-columns: min-content min-content min-content;
    }

    div.news-card-grid {
        grid-template-columns: 1fr;
        row-gap: 0.5em;
    }

    div.article-preview {
        min-height: 90px;
        padding-left: 1em;
    }

    /* Buttons */
    div.platform-selector {
        width: 90%;
        margin-left: 1em;
    }

    /* Text */
    div.card h1, div.slim-card h1 {
        font-size: 7vw;
    }

    div.card-content,
    div.card-content-grid {
        font-size: 7vw;
        row-gap: 1em;
    }

    body.inverted div.card-content p,
    body.inverted div.card-content a,
    body.inverted div.card-content li {
        font-size: 6vw;
    }

    input[type=button].platform-selected,
    input[type=button].platform-unselected {
        font-size: 6vw;
    }
}

/* Dark mode colors */
@media (prefers-color-scheme: dark) {
    body.normal {
        background-color: var(--dark-background-color);
    }

    body.normal div.card {
        background-color: var(--dark-main-color);
    }

    body.normal header,
    body.normal header a:visited {
        color: var(--dark-main-color);
    }

    body.normal div.card-content,
    body.normal div.card-content a {
        color: var(--dark-text-color);
    }

    div.card {
        color: var(--dark-text-color);
        background-color: var(--dark-background-color);
    }

    div.card h1, div.slim-card h1 {
        background-color: var(--dark-text-color);
        color: var(--dark-main-color);
    }

    div.card-content-grid p,
    div.card-content-grid a {
        color: var(--dark-text-color);
    }

    div.article-preview {
        background-color: var(--dark-text-color);
        border-color: var(--dark-text-color);
        color: var(--dark-main-color);
    }

    div.article-preview h1 {
        color: var(--dark-main-color);
        background-color: var(--dark-text-color);
    }

    div.article-preview:hover,
    div.article-preview:hover h1 {
        background-color: var(--dark-main-color);
        color: var(--dark-text-color);
        border-color: var(--dark-text-color);
    }

    input[type=button].platform-selected {
        color: var(--dark-text-color);
        background-color: var(--dark-main-color);
    }

    input[type=button].platform-unselected,
    input[type=button].no-fill {
        color: var(--dark-main-color);
        background-color: var(--dark-background-color);
        border-color: var(--dark-main-color);
    }

    /* Inverted colors */
    body.inverted,
    body.inverted div.card h1, body.inverted div.slim-card h1 {
        background-color: var(--dark-main-color);
        color: var(--dark-text-color);
    }

    body.inverted header a {
        color: var(--dark-text-color);
    }

    body.inverted div.card-content {
        color: var(--dark-main-color);
    }

    body.inverted div.card, body.inverted div.slim-card,
    body.inverted div.card-content a {
        color: var(--dark-main-color);
        background-color: var(--dark-background-color);
    }
}