:root {
    font-family: league-spartan;
    --main-color: #4166f5;
}

@font-face {
    font-family: "league-spartan";
    src: url(../assets/fonts/LeagueSpartan-SemiBold.ttf);
}

body.normal {
    background-color: white;
}

body.inverted {
    background-color: var(--main-color);
}

/* Divs */
div.site-header {
    color: var(--main-color);
    margin: 2em 0 2em 3em;
    font-weight: bold;
}
div.site-header h1, div.site-header a {
    color: var(--main-color);
    text-decoration: none;
    margin: 0;
    font-size: 44px;
}
div.site-navigation {
    display: flex;
}
div.site-navigation p, div.site-navigation a {
    margin-top: 0;
    margin-right: 1em;
    font-size: 30px;
}
div.site-navigation a.selected-page {
    text-decoration: underline 2px;
}
div.normal-card {
    color: white;
    background-color: var(--main-color);
    border-radius: 24px;
    padding: 1em 2em 2em 2em;
}
div.normal-card h1 {
    background-color: white;
    color: var(--main-color);
    width: fit-content;
    border-radius: 24px;
    padding: 0.1em 0.5em 0em 0.5em;
}
div.card-container, div.two-card-container {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 3em 1em 3em;
}
div.two-card-container {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1em;
}
div.card-content{
    display: grid;
    grid-template-columns: min-content min-content min-content;
    column-gap: 1em;
}
div.card-content p, div.card-content a{
    justify-self: left;
    color: white;
    text-decoration: none;
    margin: 0;
    font-size: 34px;
    font-weight: bold;
}
div.platform-selector {
    display: grid;
    width: 30%;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1em;
    margin: 0 3em 1em 3em;
}
div.platform-selector a {
    overflow: hidden;
    width: auto;
    display: inline-block;
}
/* Buttons */
input[type=button].platform-selected, input[type=button].platform-unselected {
    border-radius: 24px;
    padding: 0.25em 0em 0.25em 0em;
    font-family: league-spartan;
    font-size: 1.5rem;
    cursor: pointer;
    width: 100%
}
input[type=button].platform-selected {
    color: white;
    background-color: var(--main-color);
    border: 2px solid transparent;
}
input[type=button].platform-unselected {
    color: var(--main-color);
    background-color: white;
    border: 2px solid var(--main-color);
}