:root {
    font-family: league-spartan;
    --main-color: #4166f5;
}

@font-face {
    font-family: "league-spartan";
    src: url(../assets/fonts/LeagueSpartan-SemiBold.ttf);
}

/* Normal color scheme */
body.normal {
    background-color: white;
}
body.normal div.card {
    background-color: var(--main-color);
}
body.normal div.site-header, body.normal div.site-header a:visited {
    color: var(--main-color);
}

body.normal div.card-content, body.normal div.card-content a {
    color: white;
}

/* Inverted color scheme */
body.inverted, body.inverted div.card h1{
    background-color: var(--main-color);
    color: white;
}

body.inverted div.site-header a {
    color: white;
}

body.inverted div.card-content {
    color: var(--main-color);
}

body.inverted div.card, body.inverted div.card-content a {
    color: var(--main-color);
    background-color: white;
}

/* Divs */
div.site-header {
    color: var(--main-color);
    margin: 2em 0 2em 3em;
    font-weight: bold;
}
div.site-header h1 {
    font-size: 44px;
    margin: 0;
}
div.site-header a {
    text-decoration: none;
    margin: 0;
}
div.site-navigation {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 38vw;
    font-size: 30px;
}
div.site-navigation p, div.site-navigation a {
    margin-top: 0;
    margin-right: 1em;
}
div.site-navigation a.selected-page {
    text-decoration: underline 2px;
}
div.card {
    color: white;
    background-color: var(--main-color);
    border-radius: 24px;
    padding: 1em 2em 2em 2em;
}
div.card h1 {
    background-color: white;
    color: var(--main-color);
    width: fit-content;
    border-radius: 24px;
    padding: 0.1em 0.5em 0em 0.5em;
}
div.card-container, div.two-card-container {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 3em 1em 3em;
}
div.two-card-container {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1em;
}
div.card-content {
    margin-left: 0.5em;
    color: white;
    font-size: 34px;
}
div.card-content-grid{
    display: grid;
    grid-template-columns: min-content min-content min-content;
    column-gap: 1em;
    font-size: 34px;
}
div.card-content-grid p, div.card-content-grid a{
    justify-self: left;
    color: white;
    text-decoration: none;
    margin: 0;
    font-weight: bold;
}
div.platform-selector {
    display: grid;
    width: 30%;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1em;
    margin: 0 3em 1em 3em;
}
div.platform-selector a, div.button-row a {
    overflow: hidden;
    width: auto;
    display: inline-block;
}
div.button-row {
    display: grid;
    width: fit-content;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
}
/* Buttons */
input[type=button] {
    border-radius: 24px;
    padding: 0.25em 0.25em 0.25em 0.25em;
    font-family: league-spartan;
    font-size: 1.5rem;
    cursor: pointer;
    width: 100%
}
input[type=button].platform-selected, input[type=button].platform-unselected {
    border-radius: 24px;
    padding: 0.25em 0em 0.25em 0em;
    font-family: league-spartan;
    font-size: 1.5rem;
    cursor: pointer;
    width: 100%
}
input[type=button].platform-selected {
    color: white;
    background-color: var(--main-color);
    border: 2px solid transparent;
}
input[type=button].platform-unselected, input[type=button].no-fill {
    color: var(--main-color);
    background-color: white;
    border: 2px solid var(--main-color);
}

a:hover {
    opacity: 75%;
}

/* Mobile layout */
@media (max-width: 500px) {
    /* Site header */
    div.site-header {
        margin: 2em 0 2em 1em;
    }
    div.site-header h1 {
        font-size: 10vw;
    }
    div.site-navigation {
        width: 80vw;
        font-size: 6vw;
    }
    /* Card conainters */
    div.card-container, div.two-card-container {
        margin-left: auto;
        margin-right: auto;
        justify-items: center;
    }
    div.two-card-container {
        grid-template-columns: 1fr;
        row-gap: 1em;
    }
    /* Cards */
    div.card {
        width: 75%;
    }
    div.card-content-grid {
        grid-template-columns: min-content min-content;
    }
    /* Buttons */
    div.platform-selector {
        width: 90%;
        margin-left: 1em;
    }
    /* Text */
    div.card h1 {
        font-size: 7vw;
    }
    div.card-content, div.card-content-grid {
        font-size: 7vw;
        row-gap: 1em;
    }
  }