:root {
    font-family: league-spartan;
}

@font-face {
    font-family: "league-spartan";
    src: url(../assets/fonts/LeagueSpartan-SemiBold.ttf);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
}

img.theme-button-desktop {
    float: right;
    margin: 1em 2em 1em 1em;
    cursor: pointer;
}

div.theme-button-mobile {
    display: none;
}

.spacer {
    flex: 1;
}

footer {
    height: fit-content;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

footer a,
footer p {
    display: inline-block;
}

/* Divs */
header {
    margin: 2em 0 2em 3em;
    font-weight: bold;
}

header h1 {
    font-size: 3vw;
    margin: 0;
    display: inline-block;
}

header a {
    text-decoration: none;
    margin: 0;
}

div.site-navigation {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 35vw;
    font-size: 2vw;
}

div.site-navigation p,
div.site-navigation a {
    margin-top: 0;
    margin-right: 1em;
}

div.site-navigation a.selected-page {
    text-decoration: underline 2px;
}

div.card,
div.slim-card {
    border-radius: 24px;
    padding: 1em 2em 2em 2em;
}

div.release-card {
    display: flex;
    border-radius: 24px;
    padding: 1em;
}

div.release-card * {
    display: inline-block;
    margin: auto;
}

div.release-card img {
    width: 25px;
}

div.slim-card {
    display: inline-block;
    border-radius: 36px;
    padding: 0em 1em 0em 1em;
}

div.slim-card a {
    margin-left: 1em;
}

div.slim-card h1,
div.slim-card div.card-content {
    display: inline-block;
}

div.card h1,
div.slim-card h1 {
    width: fit-content;
    border-radius: 24px;
    padding: 0.25em 0.5em 0.15em 0.5em;
    font-size: 2vw;
}

div.card-container,
div.two-card-container,
div.release-page-card-container {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 3em 1em 3em;
}

div.releases-card-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 1em;
    row-gap: 1em;
}

div.platform-container {
    background-color: var(--main-color);
    border-radius: 24px;
    padding: 1em 2em 2em 2em;
    margin: 0 3em 1em 3em;
}

div.two-card-container {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1em;
}

div.release-page-card-container {
    grid-template-columns: auto;
    row-gap: 1em;
}

div.card-content {
    margin-left: 0.5em;
    font-size: 1.75vw;
}

div.card-content a {
    text-decoration-thickness: 1px;
}

div.card-content p,
ul {
    margin: 0;
    line-height: 125%;
}

div.card-content-grid {
    display: grid;
    grid-template-columns: min-content min-content min-content;
    margin-left: 0.25em;
    column-gap: 1em;
    font-size: 2vw;
}

div.card-content-grid p,
div.card-content-grid a {
    justify-self: left;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
    margin: 0;
    font-weight: bold;
}

div.news-card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1em;
    row-gap: 1em;
}

div.article-preview,
div.tool-preview {
    border: 3px solid transparent;
    border-radius: 20px;
    padding: 2em;
}

div.article-preview h1 {
    padding: 0;
    margin: 0;
    font-size: 2vw;
}

div.article-preview h3 {
    font-size: 1vw;
}

div.article-header h1,
div.article-header p {
    display: inline-block;
}

div.article-header p {
    font-size: 2vw;
    margin-left: 0.5em;
}

div.tool-preview {
    padding: 0.5em;
    text-align: center;
    transition: 0.25s;
}

div.tool-button-preview {
    padding: 1em;
    border-radius: 20px;
}

div.button-preview,
div.button-color-preview {
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #4166f5;
    color: white;
    border: 1.5px solid transparent;
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 24px;
    display: grid;
    width: fit-content;
    grid-template-columns: 0.25fr 1fr;
    justify-items: center;
    align-items: center;
    text-decoration: none;
    column-gap: 5px;
}

/* Targeting devices with mouse cursor and :hover */
@media(hover: hover) and (pointer: fine) {
    div.tool-preview:hover {
        transform: scale(95%);
    }
}

div.button-preview img {
    width: 20px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(1%) saturate(7497%) hue-rotate(138deg) brightness(105%) contrast(101%);}

div.button-preview p {
    margin: 0;
    font-size: 14px;
}

div.button-color-preview {
    pointer-events: none;
}

div.button-preview-bg * {
    pointer-events: none;
}

a.table-source {
    font-size: 60%;
}

table {
    font-weight: normal;
    font-size: 75%;
    margin: auto;
    width: 100%;
}

div.table-container {
    width: 100%;
}

th,
td {
    padding: 0.25em 0.25em 0.25em 0.25em;
    border: 2px solid;
}

div.code-container {
    width: auto;
    margin: 0.5em auto auto auto;
}

div.platform-selector {
    display: grid;
    width: 30%;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1em 3em 1em 0em;
}

div.platform-selector a {
    overflow: hidden;
    width: auto;
    display: inline-block;
}

div.screenshot-album {
    display: grid;
    grid-template-columns: min-content min-content min-content min-content;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

div.screenshot-album img {
    width: 10vw;
}

div.screenshot-album a {
    animation-name: shrinkimage;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}


/* Buttons */
input[type=button] {
    border-radius: 24px;
    padding: 0.25em 0.25em 0.25em 0.25em;
    font-family: league-spartan;
    font-size: 1.5rem;
    cursor: pointer;
    width: 100%
}

input[type=button].platform-selected,
input[type=button].platform-unselected {
    height: 2.25em;
    border-radius: 24px;
    border: 2px solid transparent;
    padding: 0.25em 1em 0.25em 1em;
    font-family: league-spartan;
    font-size: 1.75vw;
    cursor: pointer;
    width: 100%
}

input[type=button].left {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: none;
}

input[type=button].middle {
    border-radius: 0px;
}

input[type=button].right {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: none;
}

/* Text */
a:hover {
    opacity: 75%;
}

a.noshow,
a.noshow:hover {
    text-decoration: none;
    opacity: 100%;
}

code {
    font-size: 65%;
    background-color: rgba(128, 128, 128, 0.465);
    padding: 0.1em;
    border-radius: 6px;
}

p.disclaimer {
    font-size: 75%;
    opacity: 75%;
    margin-bottom: 0;
}

/* Mobile layout */
@media (max-width: 500px) {

    body {
        width: 95%;
    }

    /* Site header */
    header {
        margin: 2em 0 2em 1em;
    }

    header h1 {
        font-size: 10vw;
    }

    img.theme-button-desktop {
        display: none;
    }

    div.theme-button-mobile {
        display: block;
        padding: 0.30em 0.5em 0.5em 0.5em;
        border: 2px solid var(--main-color);
        border-radius: 24px;
        margin: auto;
        width: fit-content;
    }

    div.theme-button-mobile p {
        margin: 0;
    }

    img.theme-icon-mobile {
        display: inline-block;
        position: relative;
        height: 19px;
        top: 5px;
        margin: 0;
    }

    div.site-navigation {
        width: 80vw;
        font-size: 5.5vw;
        margin-top: 1em;
    }

    /* Card conainters */
    div.card-container,
    div.two-card-container,
    div.release-page-card-container {
        margin-left: auto;
        margin-right: auto;
        justify-items: center;
    }

    div.platform-container {
        padding: 1em;
        width: 90%;
        margin: auto;
    }


    div.two-card-container {
        grid-template-columns: 1fr;
        row-gap: 1em;
    }

    div.release-page-card-container {
        grid-template-columns: auto;
        row-gap: 1em;
    }

    div.releases-card-container {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 0.5em;
    }

    div.article-header p {
        font-size: 5.5vw;
        margin-left: 0.5em;
        margin-top: 0;
    }

    div.screenshot-album img {
        width: 30vw;
    }

    /* Cards */
    div.card,
    div.slim-card {
        width: 90%;
        padding: 1em 1em 2em 1em;
    }

    div.slim-card h1,
    div.slim-card div.card-content {
        display: block;
    }

    div.slim-card a {
        margin-left: 0;
        margin-right: 1em;
    }

    div.card-content-grid {
        grid-template-columns: min-content min-content min-content;
    }

    div.news-card-grid {
        grid-template-columns: 1fr;
        row-gap: 0.5em;
    }

    div.article-preview {
        padding: 1em;
    }

    div.article-preview h3 {
        font-size: 4vw;
    }

    /* Buttons */
    div.platform-selector {
        width: 100%;
        margin: 0 auto 2em auto;
    }

    /* Text */
    div.card h1,
    div.slim-card h1 {
        font-size: 5vw;
    }

    div.card-content,
    div.card-content-grid {
        font-size: 5vw;
        row-gap: 1em;
    }

    input[type=button].platform-selected,
    input[type=button].platform-unselected {
        font-size: 5vw;
    }
}